@media only screen and (min-width: 992px) {
    ...
}

* {
    font-family: system-ui;
    text-align: center;
    scroll-behavior: smooth;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    list-style-type: none;
}

.sections {
    border: 20px solid darkcyan;
    box-sizing: border-box;
    background: wheat;
    padding: 35px;
    margin: 338px;
    border-radius: 122px;
}

nav {
    border: 23px solid darkcyan;
    border-radius: 8px;
    margin: -8px;
    overflow: hidden;
    background-color: wheat;
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
}

.img1 {
    border-radius: 50px;
    height: 90px;
    width: 300px;
}

.img2 {
    border-radius: 25px;
    height: 250px;
    width: 333px;
}

.img3 {
    height: 129px;
    width: 154px;
}

.inline {
    display: initial;
}

@media screen and (max-width: 1093px) {
    .img1 {
        height: 50px;
        width: 100px;
    }

    .sections {
        border: 20px solid darkcyan;
        box-sizing: border-box;
        background: wheat;
        padding: 35px;
        margin: 0px;
        border-radius: 122px;
    }
}